* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #656565;
}

.wrapper {
    text-align: center;
    transform: translateY(50%);
}

.calculadora {
    margin: 0 auto;
}

.panel-container, 
.row {
    margin: 0 auto;
    min-width: 250px;
    max-width: 450px;
}

.panel-container input {
    border: none;
    text-align: right;
    font-size: 200%;
    padding: 7.5% 10%;
    width: 80%;
    max-width: 500px;
}


.panel-container .row button {
    background-color: #454545;
    color: #eaeaea;
    float: left;
    font-size: calc(12px + 1vw);
    width: 25%;
    height: calc(60px + 6vh);
    border: none;
}

.panel-container .row button:last-child {
    background-color: #0c6;
}

.panel-container .row button:hover:last-child {
    background-color: #0a5;
}

.panel-container .row button:hover:not(:last-child) {
    background-color: #333;
}

.parenthesis{
    width: 12.5% !important;
}

